body{
	overflow: hidden;
}

html, body, #map {
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0%;
	color: #333333;
	font-family: Verdana, Geneva, sans-serif;
	}

svg{
	pointer-events:none;
}



#plotcontainer{
	z-index: 5;
	top: 20px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 100px;
	width: 220px;
	left: 15%;
}


#plot{
	margin-top: 30px;
	background-image: url(../img/graf.png);
	background-repeat: no-repeat;
	background-size: 200px 39px;
	width: 200px;
	height: 39px;
	margin-left: auto;
	margin-right: auto;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#graphcontainer{
	z-index: 5;
	bottom: 30px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
	border-radius: 10px;
	height: 50px;
	width: 60%;
	left:20%;
}

#slider{
	margin-top: 10px;
	margin-left: 25px;
	margin-right: auto;
	width: 70%;
	clear: right;
}

.markeranim{
	z-index: 4;
	position: absolute;
	background-repeat: no-repeat;
	background-size: auto;
	height: 10px;
	width: 10px;
	display: block;
}

.ui-widget-content{
	margin-top: -5px;
	background: none;
	border: none;
	border-top: 1px #2f2f2f dashed;
}

.ui-slider-handle{
	background: #f00 !important;
	margin-top: -6px;
}