#plotcontainer{
	z-index: 5;
	top: 1%;
	position: absolute;
	margin-left: 10px;
	background-color: whiteSmoke;
	background-color: rgba(245,245,245,0.75);
	border-radius: 5px;
	height: 390px;
	width: 500px;
	right: 3%;
}

#plot{
	background-image: url(../img/graf_tv.png);
	background-repeat: no-repeat;
	background-size: 480px 216px;
	width: 480px;
	height: 216px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 5px;
}

#line-wrapper{
	margin-left: 9px;
}

#line-container {
	margin-top: -245px;
}

.play, .pause {
	width: 75px;
	height: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-left: 15px;
}

#slider{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 93%;
	clear: right;
}

#line-container {
	margin-top: -263px;
}